@inject IWatchlistService watchlistService

<div class="layout-container">
    <SfDashboardLayout Columns=5 CellSpacing="@(new double[]{0, 0})" CellAspectRatio="1" AllowDragging="false">
        <DashboardLayoutEvents Created="OnCreate"></DashboardLayoutEvents>
        <DashboardLayoutPanels>
            <DashboardLayoutPanel Column=0 Row=0 Id="InfoPanel" SizeX=4 SizeY=1>
                <ContentTemplate>
                    <div class="info-container">
                        <div class="grid-component">
                            <p class="stock-info">@stock.name (@stock.ticker)</p>
                            @if (stock.homepage_url != null)
                            {
                                <p class="stock-info">Homepage: @stock.homepage_url</p>
                            }
                            @if (stock.phone_number != null)
                            {
                                <p class="stock-info">Phone number: @stock.phone_number</p>
                            }
                            @if (stock.phone_number != null)
                            {
                                <p class="stock-info">Category: @stock.sic_description</p>
                            }
                        </div>
                        <div class="img-container">
                            @if (stock.branding != null)
                            {
                                <img src="@stock.branding.logo_url" class="icon" />
                            }
                        </div>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column=4 Row=0>
                <ContentTemplate>
                    <div class="button-container">
                        <SfButton CssClass="e-custom-add" @ref="AddButton" @onclick="AddtoWatchlist">+</SfButton>
                        <SfButton CssClass="e-custom-watchlist" @ref="AddButton" @onclick="GoToWatchlist">WATCHLIST
                        </SfButton>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column=0 Row=2 SizeX=3 SizeY=2>
                <ContentTemplate>
                    <SfStockChart Title="Stock price" EnableSelector="false" @ref="stockChartObj">
                        <StockChartTooltipSettings Enable="true"></StockChartTooltipSettings>
                        <StockChartPeriods>
                            <StockChartPeriod IntervalType=RangeIntervalType.Days Interval="7" Text="7D">
                            </StockChartPeriod>
                            <StockChartPeriod IntervalType=RangeIntervalType.Days Interval="14" Text="14D">
                            </StockChartPeriod>
                            <StockChartPeriod IntervalType=RangeIntervalType.Days Interval="30" Text="30D">
                            </StockChartPeriod>
                            <StockChartPeriod IntervalType=RangeIntervalType.Days Interval="90" Text="90D">
                            </StockChartPeriod>
                        </StockChartPeriods>
                        <StockChartPrimaryXAxis>
                            <StockChartAxisMajorGridLines Color="Transparent"></StockChartAxisMajorGridLines>
                        </StockChartPrimaryXAxis>
                        <StockChartSeriesCollection>
                            <StockChartSeries DataSource="@stockPrices" Type="ChartSeriesType.HiloOpenClose"
                                XName="Date" High="h" Low="l" Open="o" Close="c" Volume="v">

                            </StockChartSeries>
                        </StockChartSeriesCollection>
                    </SfStockChart>
                </ContentTemplate>
            </DashboardLayoutPanel>
            <DashboardLayoutPanel Column=4 Row=2 SizeX=2 SizeY=2>
                <ContentTemplate>
                    <div class="article-container">
                        <ul>
                            @for (int i = 0; i < Articles.Count; i++)
                            {
                                <li>
                                    <article>
                                        <h5><a href="@Articles[i].article_url">@Articles[i].title</a></h5>
                                        <img class="article-img" src="@Articles[i].image_url" alt="IMG" />
                                        <p class="article-text">@Articles[i].description</p>
                                    </article>
                                </li>
                            }
                        </ul>
                    </div>
                </ContentTemplate>
            </DashboardLayoutPanel>
        </DashboardLayoutPanels>
    </SfDashboardLayout>
</div>

<style>
    .grid-component {
        width: fit-content;
        max-width: 450px;
    }

    p.stock-info {
        font-weight: 800;
        font-size: 16px;
        margin: 5px 0px 5px 5px;
    }

    .info-container {
        display: flex;
        10px
    }

    .img-container {
        display: initial;
        position: absolute;
        right: 0;
        margin: 10px;
    }

    .layout-container {
        margin-top: 20px;
        padding-top: 20px;
    }

    .button-container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .e-custom-watchlist {
        width: 100px;
        aspect-ratio: 2;
        border-radius: 0px;
        margin-left: 20px;
        margin-right: 20px;
        background: rgb(6, 2, 80);
        background: linear-gradient(150deg, rgba(6, 2, 80, 1) 0%, rgba(49, 9, 121, 1) 35%, rgba(186, 0, 255, 1) 100%);
    }

    .e-custom-watchlist:hover {
        width: 100px;
        aspect-ratio: 2;
        border-radius: 0px;
        margin-left: 20px;
        margin-right: 20px;
        background: rgb(11, 4, 136);
        background: linear-gradient(150deg, rgba(11, 4, 136, 1) 0%, rgba(64, 1, 176, 1) 35%, rgba(216, 0, 255, 1) 100%);
    }

    .e-custom-add {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 20px;
        background: rgb(6, 2, 80);
        background: linear-gradient(150deg, rgba(6, 2, 80, 1) 0%, rgba(49, 9, 121, 1) 35%, rgba(186, 0, 255, 1) 100%);
    }

    .e-custom-add:hover {
        width: 50px;
        aspect-ratio: 1;
        border-radius: 50%;
        margin-left: 20px;
        margin-right: 20px;
        background: rgb(11, 4, 136);
        background: linear-gradient(150deg, rgba(11, 4, 136, 1) 0%, rgba(64, 1, 176, 1) 35%, rgba(216, 0, 255, 1) 100%);
    }

    .e-dashboardlayout.e-control .e-panel {
        border: 4px solid;
        border-color: #421085;
        box-shadow: none;
        border-radius: 0px;
    }

    .e-dashboardlayout.e-control .e-panel:hover {
        border: 4px solid;
        border-color: #670299;
        box-shadow: none;
        border-radius: 0px;
    }

    .article-img {
        width: 150px;
        height: auto;
        float: left;
        margin-right: 5px;
    }

    li {
        height: fit-content;
    }

    article {
        min-height: 180px;
    }

    a {
        font-size: 16px;
        font-weight: 700;
        color: #11011c;
    }

    a:hover {
        font-size: 16px;
        font-weight: 700;
        color: #23013b;
    }

    ul {
        list-style-type: none;
        padding: 20px;
    }

    .icon {
        height: 180px;
        width: auto;
    }

    .article-container {
        width: 100%;
        height: 100%;
    }

    .e-input-group.e-input-focus:not(.e-success):not(.e-warning):not(.e-error) {
        box-shadow: 0 0 0 4px rgba(196, 196, 196, .25);
    }
</style>

@code {
    [Parameter]
    public StockDetailsDTO stock { get; set; }
    [Parameter]
    public List<PriceDTO> stockPrices { get; set; }
    [Parameter]
    public NavigationManager navigator { get; set; }
    [Parameter]
    public List<ArticleDTO> Articles { get; set; }
    SfButton AddButton;
    SfStockChart stockChartObj;

    public async Task OnCreate()
    {
        await Task.Delay(200);
        this.stockChartObj.Refresh();

    }

    public void AddtoWatchlist()
    {
        watchlistService.AddToUserWatchlist(stock);
    }

    public void GoToWatchlist()
    {
        navigator.NavigateTo("/watchlist");
    }

    public void Refresh()
    {
        StateHasChanged();
    }

}